html, body {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #000;
    background-color: #fff;
}

pre {
    font-size: x-large;
}

#header {
    padding: 1em;
    margin: 0 0 1em 0;
    background-color: #eee;
    color: #000;
    border-bottom: 1px solid #ccc;
}

#footer {
    padding: 1em;
    margin: 1em 0 0 0;
    background-color: #eee;
    color: #000;
    border-top: 1px solid #ccc;
}
