[Desktop Entry]
Name=GottenGeography
GenericName=Photo Geotagger
Comment=Easily store geolocation data in your photographs.
Icon=gottengeography
Exec=gottengeography
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Photography;
